.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    gap: 20px;
    font-size: x-large;
    font-style: italic;
    font-weight: 600;
    font-family: monospace;
}

button {
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
