.container {
    display: grid;
    place-content: center;
    margin-top: 20px;
}

.bar {
    width: 500px;
    height: 50px;
    background-color: bisque;
    border-radius: 30px;
    position: relative;
    overflow: hidden;
}

.progress {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: aqua;
    transition: transform 400ms;
}

.text {
    z-index: 2;
    position: absolute;
    left: 45%;
    top: 30%;
    font-family: monospace;
}