.container {
    display: grid;
    
}

.cell {
    width: 100px;
    height: 100px;
    margin: 2px;
}

.active {
    cursor: pointer;
    border: 1px solid black;
    background-color: transparent;
}

.selected {
    background-color: red;
}